{{page-title 'Characters'}}

<div class='row'>
  {{#each @model as |character|}}
    <Card
      @heading={{character.name}}
      @thumbnailLink={{character.thumbnailLink}}
      @altTag={{character.name}}
    />
  {{/each}}
</div>

{{outlet}}