{{page-title 'Comics'}}

<h1>Comics</h1>

<div class='row'>
  {{#each @model as |comic|}}
    <Card
      @heading={{comic.title}}
      @thumbnailLink={{comic.thumbnailLink}}
      @altTag={{comic.title}}
    />
  {{/each}}
</div>

{{outlet}}